.subscriptionRow{
    display: flex;
}

.subscriptionColumn{
    flex: 33.33%;
    padding: 25px;
}
.subscriptionRow p {
    flex: 33.33%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1em;
}
.subscriptionRow h1 {
    flex: 100%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 3em;
}

.subscriptionImage {
  width: 100%;
}

#question1, #dripChoices, #pourChoices, #latteChoices, #question2, #question3, #question4, #question5 {
    padding-bottom: 50px;
}